<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="First Line Stats">
        <meta name="author" content="First Line Stats">
        <title>First Line Stats</title>
        <!-- Bootstrap core CSS -->
        {% load staticfiles %}
        {% block page_css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        {% include "wrappers/navigation.html" %}
        {% block content %}{% endblock %}
        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){       
               var scroll_start = 0;
               var startchange = $('.nav');
               var offset = startchange.offset();
               $(document).scroll(function() { 
                  scroll_start = $(this).scrollTop();
                  if(scroll_start > offset.top) {
                      $('#main-navigation').css('background-color', '#2D303E');
                      $('.navbar-text').css('color', '#E7E7E1');
                   } else {
                      $('#main-navigation').css('background-color', 'transparent');
                      $('.navbar-text').css('color', '#333');
                   }
               });
            });
        </script>
        {% block page_js %}{% endblock %}
    </body>
</html>