{% extends "wrappers/wrapper.html" %}
{% load staticfiles %}
{% block page_css %}
{% endblock %}
{% block content %}
  <div class="container">
    <div style="position: relative; text-align: center; margin-bottom: 5%;">
      <h3>Top goalies around the league.</h3>
    </div>
    <div class="row">
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="stats-card col-md-3">
        <table class="table table-striped">
          <tbody>
            <caption class="stats-caption">Stats Type</caption>
            <tr>
              <td>1</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>FirstName LastName</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block page_js %}
{% endblock %}